<!--Code below is based on "Create a web app with ASP.NET Core MVC using Visual Studio for Mac", www.microsoft.com, https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/ -->

@{
    ViewData["Title"] = "Camper List";
}

<h2>Camper List</h2>

<p>Hello from our View Template!</p>