<!--Code below is based on "Create a web app with ASP.NET Core MVC using Visual Studio for Mac", www.microsoft.com, https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/ -->

@{
    ViewData["Title"] = "About";
}
<di<html>
<head>
<title>registration form</title>
</head>

<h2 ALIGN="CENTER">Welcome Back, Galway IUTF</h2>
<h4 ALIGN="CENTER">Add a new Camper!</h4>	

<form action="Welcome.html" method="post">
<table border="0" align="center">
<tbody>


<tr>
<td><label for="First Name">First Name: </label></td>
<td><input id="First Name" maxlength="50" name="First Name" type="text" /></td>
</tr>

<tr>
<td><label for="Second Name">Second Name: </label></td>
<td><input id="Second Name" maxlength="50" name="Second Name" type="text" /></td>
</tr>

<tr>
<td><label for="Age">Age: </label></td>
<td><input id="Age" maxlength="50" name="Age" type="text" /></td>
</tr>

<tr>
<td><label for="Belt Grade">Belt Grade: </label></td>
<td><input id="Belt Grade" maxlength="50" name="rollno" type="Belt Grade" /></td>
</tr>

<tr>
<td><label for="Username">Underlying Health Concerns:</label></td>
<td valign="Username" align="center"><textarea></textarea></td>
</tr>

                    
<tr>
<td align="right"><input name="Submit" type="Submit" value="Add" /></td>
						<script>
// When the user clicks on <div>, open the popup
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>
</tr>

		
}
</script>

</tbody>
</table>
</form>
</html>